.chess-div {
	position: absolute;
	width: 128px;
	height: 128px;
}

.highlighted-div {
	border-radius: 50%;
	background-color: #ea8;
}

.chess-piece {
	border-radius: 50%;
	position: absolute;
	width: 124px;
	height: 124px;
	background-size: 124px 124px;
	background-color: #f9f9f9;
	border-style: solid;
}

.white-piece {
	background-color: #e8c8a7;
	border-color: #bf9d7a;
}

.black-piece {
	background-color: #804937;
	border-color: #542d21;
	color: #fff;
}
